<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-10 offset-1 mt-5">
      <div class="row">
        <div *ngFor="let imageInfo of allImages">
          <div class="col-3">
            <div class="card d-flex">
              <div class="card-body">
                <img src="{{ imageInfo.url }}" class="img-fluid" />
              </div>
              <div class="card-footer">
                <span>Analyzed on: {{ imageInfo.analyzedOn }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
