<div class="container-fluid">
  <div class="container mt-3 ">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search by comma separated tags" [(ngModel)]="searchQuery" (keyup)="onSearch()">
    </div>
  </div>
  <div class="row mt-1">
    <div class="col-10 offset-1 mt-5">
      <div class="row">
        <div class="col-3" *ngFor="let imageInfo of filteredGalleryItems">
          
            <div class="card d-flex">
              <div class="card-body cursor" (click)="onClick(imageInfo)">
                <img src="{{ imageInfo.url }}" class="img-fluid"  />
              </div>
              <div class="card-footer">
                <span>Analyzed on: {{ imageInfo.analyzedOn }}</span>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>

</div>
